.search{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    width: 15rem;
    position: relative;
    .button{
        margin-top: 0.5rem;
    }
    .button:hover{
        background-color: #ffc4c4;
    }
}

// .button{
//     color: aquamarine;
// }