@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.divstyle{
    display: flex;
    align-items: center;
}
.divImg{
    display: block;
    margin:3rem auto;
}


